<div class="page-header">
  <h3>Genre #<%= @genre.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Genre name</dt>
      <dd><%= @genre.genre_name %></dd>

    </dl>


   <ul>
      <% Recipe.where(:genre_id => @genre.id ).each do |recipe| %>
        <li><a href="/recipes/<%= recipe.id %>"><%= recipe.recipe_name %></a></li>
        <% end %>
    </ul>




    <div class="btn-group btn-group-justified">
      <a href="/genres" class="btn btn-primary">
        Back
      </a>
      <a href="/genres/<%= @genre.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_genre/<%= @genre.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
