<div class="page-header">
  <h3>Recipe #<%= @recipe.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Recipe name</dt>
      <dd><%= @recipe.recipe_name %></dd>

      <dt>User</dt>
      <dd><%= @recipe.user_id %></dd>

      <dt>Genre</dt>
      <dd><%= @genre.genre_name %></dd>

      <dt>Prep time</dt>
      <dd><%= @recipe.prep_time %></dd>

      <dt>Decription</dt>
      <dd><%= @recipe.decription %></dd>

      <dt>Recipe text</dt>
      <dd><%= @recipe.recipe_text %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/recipes" class="btn btn-primary">
        Back
      </a>
      <a href="/recipes/<%= @recipe.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_recipe/<%= @recipe.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <!--<form action="/create_bookmark" method="post">-->
      <!-- Hidden input for authenticity token to protect from forgery -->
    <!--  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">-->

      <!-- Label and input for recipe_id -->
    <!--  <div class="form-group"-->
        
    <!--    <input type="hidden" name="user_id" value="<%= @recipe.user_id %>">-->
    <!--  </div>-->



      <!-- Label and input for recipe_id -->
    <!--  <div class="form-group"-->
        
    <!--    <input type="hidden" name="recipe_id" value="<%= @recipe.id %>">-->
    <!--  </div>-->

    <!--  <button class="btn btn-success"  >-->
    <!--    Create Bookmark-->
    <!--  </button>-->
    <!--  or-->
    <!--  <a href="/bookmarks">Cancel</a>-->
    <!--</form>-->
    
      <a href="/create_bookmark/<%= @recipe.user_id %>/<%= @recipe.id %>" class="btn btn-danger" rel="nofollow">
        Create Bookmark
      </a>
          
  </div>
</div>