<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @user.name %></dd>

      <dt>Bio</dt>
      <dd><%= @user.bio %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary"><i class="material-icons" style="vertical-align: middle; font-size: 18px;">arrow_back</i> Back</a>
      <a href="/users/<%= @user.id %>/edit" class="btn btn-info"><i class="material-icons" style="vertical-align: middle; font-size: 18px;">mode_edit</i> Edit</a>
      <a href="/delete_user/<%= @user.id %>" class="btn btn-danger" rel="nofollow">
        <i class="material-icons" style="vertical-align: middle; font-size: 18px;">delete</i> Delete
      </a>
    </div>
  </div>
</div>
