<div class="page-header">
  <h3>Ingredient #<%= @ingredient.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Ingredient name</dt>
      <dd><%= @ingredient.ingredient_name %></dd>

    </dl>



list RECIPES that correspond with INGREDEIENTS
   <ul>
      <% Recipe.where(:ingredient_id => @ingredient.id ).each do |recipe| %>
        <li><a href="/recipes/<%= recipe.id %>"><%= recipe.recipe_name %></a></li>
        <% end %>
    </ul>


    <div class="btn-group btn-group-justified">
      <a href="/ingredients" class="btn btn-primary"><i class="material-icons" style="vertical-align: middle; font-size: 18px;">arrow_back</i> Back</a>
      <a href="/ingredients/<%= @ingredient.id %>/edit" class="btn btn-info"><i class="material-icons" style="vertical-align: middle; font-size: 18px;">mode_edit</i> Edit</a>
      <a href="/delete_ingredient/<%= @ingredient.id %>" class="btn btn-danger" rel="nofollow"><i class="material-icons" style="vertical-align: middle; font-size: 18px;">delete</i> Delete</a>
    </div>
  </div>
</div>
